body {
  background-color: white;
}
h1 {
  color: blue;
}
p {
  color: black;
}

beautiful {
  font-family: 'Tangerine', serif;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
}

ubuntu {
  font-family: 'Ubuntu', serif;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
}
